/* Make headings positioning context */
h2, h3, h4, h5, h6 {
    position: relative;
}

/* Icon styling */
.paragraphlinks-icon {
    position: absolute;
    left: 1.3em;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity .15s ease-in-out;
    text-decoration: none;
    font-size: 0.75em;
    line-height: 1;
    color: #72777d;
}

/* Reveal icon when hovering the heading */
h2:hover .paragraphlinks-icon,
h3:hover .paragraphlinks-icon,
h4:hover .paragraphlinks-icon,
h5:hover .paragraphlinks-icon,
h6:hover .paragraphlinks-icon {
    opacity: 1;
}

/* Icon hover state */
.paragraphlinks-icon:hover {
    text-decoration: none;
}